{% extends 'base.html' %}
{% load static %}
{% load account %}
{% block content %}
<head><link rel="stylesheet" href="{% static 'css/Login.css' %}" media="screen">
  <title>Entrar</title>
  </head>
  <section class="u-clearfix u-section-1" id="sec-b32d">
    <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
              <div class="u-container-layout u-valign-bottom-xs u-container-layout-1">
                <h2 class="u-align-center u-custom-font u-font-roboto u-text u-text-default u-text-1">Entrar</h2>
                <div class="u-container-style u-expanded-width-xs u-group u-group-1">
                  <div id="name-e8fa" name="name" class="u-container-layout u-container-layout-2"> 
              
                    <form action="{% url 'account_login' %}" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;"></form>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button id="btnlgn" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-roboto-condensed u-palette-3-light-1 u-radius-6 u-text-body-color " type="submit">Login</button>
                    </form>
                  
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2" src="">
              <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-container-layout-3" src="">
                <img class="u-image u-image-1" src="{% static 'img/billionphotos1641702min.png' %}" data-image-width="750" data-image-height="1030">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-90e0">
      <div class="u-clearfix u-sheet u-sheet-1">
          <p class="u-small-text u-text u-text-variant u-text-1">Sample text.</p>
      </div>
  </footer>
{% endblock %}