{% extends 'base.html' %}
{% load static %}
{% load account %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/Login.css' %}" media="screen">

<section style="margin-left: 8rem;"class="u-clearfix u-section-1" id="sec-b32d">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-white u-layout-cell-1" src="">
              <div class="u-container-layout u-valign-top-xs u-container-layout-1">
                <h2 class="u-custom-font u-font-roboto u-text u-text-default u-text-1">Entrar</h2>
                <div class="u-form u-form-1">
                  <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
                    {% csrf_token %}
                    <input type="hidden" id="siteId" name="siteId" value="119581296">
                    <input type="hidden" id="pageId" name="pageId" value="67902928">
                    <div class="u-form-group u-form-name">
                      <label for="name-e8fa" class="u-label">E-mail</label>
                      <input type="email" placeholder="Insira seu E-mail" id="name-e8fa" name="name" class="u-border-1 u-border-palette-3-light-1 u-custom-font u-font-roboto u-input u-input-rectangle u-radius-9 u-white u-input-1" required="">
                    </div>
                    <div class="u-form-email u-form-group">
                      <label for="email-e8fa" class="u-label">Senha</label>
                      <input type="password" placeholder="Insira sua senha" id="email-e8fa" name="senha" class="u-border-1 u-border-palette-3-light-1 u-custom-font u-font-roboto u-input u-input-rectangle u-radius-9 u-white u-input-2" required="">
                    </div>
                    <div class="u-align-left u-form-group u-form-submit">
                      <a href="#" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-roboto-condensed u-palette-3-light-1 u-radius-6 u-text-body-color u-btn-1">Login<br>
                      </a>
                      <input type="submit" value="submit" class="u-form-control-hidden">
                    </div>
                    <div class="u-form-send-message u-form-send-success"> Login feito!. </div>
                    <div class="u-form-send-error u-form-send-message"> Não foi possível efetuar o login. Por favor, corrija os erros e tente novamente. </div>
                    <input type="hidden" value="" name="recaptchaResponse">
                  </form>
                </div>
              </div>
            </div>
            <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30" src="">
              <div class="u-container-layout u-container-layout-2" src="">
                <img class="u-expanded-height-xl u-image u-image-1" style=" margin-top: 1.2rem;" src="{% static 'img/billionphotos1641702min.png' %}" data-image-width="750" data-image-height="1030">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}