{% extends 'base.html' %}
{% load static %}
{% block content%}
  <head>
    <link rel="stylesheet" href="{% static 'css/mainboard.css' %}">
    <title>Mainboard</title>
  
  </head>
  <body class="u-body u-xl-mode">
    <section id="topbar" class="u-clearfix u-grey-70" id="sec-2118">
      <h1 id="maintext" class="u-text u-text-1">Mainboard</h1>
      <div class="u-clearfix u-sheet u-sheet-1">
        
      </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-bebf">
      <div class="u-clearfix u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-grey-70 u-layout-cell u-size-11-md u-size-11-sm u-size-11-xs u-size-8-lg u-size-8-xl u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-button-style u-hover-feature u-none u-text-hover-palette-3-base u-btn-1">Clientes</a>
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-button-style u-hover-feature u-none u-text-hover-palette-3-base u-btn-2">Serviços</a>
                <a href="https://nicepage.com/wordpress-themes" class="u-btn u-button-style u-hover-feature u-none u-text-hover-palette-3-base u-btn-3">OS</a>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-49-md u-size-49-sm u-size-49-xs u-size-52-lg u-size-52-xl u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <div class="u-container-style u-group u-group-1">
                  
                  <div class="u-container-layout u-container-layout-3">
                    
                    <table class="table">

                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                    
              
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-90e0">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text.</p>
    </div>
</footer>
{%endblock%}